#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:0 4px; 
}

.read-the-docs {
  color: #888;
}

.main-container
{
  max-width: 1150px;
  margin: 12px auto;
  background:#e9e9e9;
  border-radius:10px;
  padding:16px 18px 22px;
  color:#333;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

.resort-lite-title {
  background:#f0f0f0;
  text-align:center;
  padding:10px 12px;
  border-bottom:4px solid #8b8b8b;
  border-radius:6px 6px 0 0;
  margin-bottom:14px; 
}

.resort-lite-title h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #555;
}

.cards{
  display:grid;
  grid-template-columns:repeat(6, 1fr); /*https://www.w3schools.com/cssref/func_repeat.php*/
  gap:18px;                               
  padding:6px 4px;
}

.cards img{
  width:100%;
  height:220px;             
  object-fit:cover;
  border-radius:6px;
  display:block;
}
.card h2{
  margin:12px 0 4px;
  font-size:1.35rem;
  line-height:1.2;
  min-height:2.6em;
  text-align: left;    
}

.sub{
  color:#6b6b6b;
  margin:0 0 8px;
  min-height:1.4em;  
  text-align: left;   
}

.rating{ font-weight:700; margin:0; text-align: left;}
.price{ color:#7a7a7a; margin:0; text-align: left;}

/* good (>= 4) */
.rating.good { color: #21a047; }             /* green text */
.rating.good .star { color: #21a047; }       /* green star */

/* low (< 4) -> both text and star red */
.rating.bad { color: #d14040; }              /* red text */
.rating.bad .star { color: #d14040; }        /* red star */